/* sets sizes for all elements not specified*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background color of full page*/
body {
    background-color: #d9dcd6;
}


/* sets properties for header class and sub-traits*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}
/* */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets color for hyperlinks */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets font size for general text on page*/
p {
    font-size: 16px;
}

/* sets aread for main image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* sets properties for making image float left in content*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* sets properties for making image float right in content*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets properties for the main content of the page */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
}

/* consolidated Lead, Brand, and Cost into single benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;

}

/* defines sub-traits for benefits*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits p {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* consolidated SEO, ORM, SMM into services class*/
/* sets properties for elements using services class to have a uniform look*/
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* defines sub-traits for services*/
.services img {
    max-height: 200px;
}

.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h3 {
    font-size: 20px;
}
